# Go Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build folder
/build/
dist/

# Go Modules and Cache
/go.work
/go.work.sum
/.cache/
/pkg/
/vendor/

# Editor temp files
*.swp
*.swo
*.tmp
*.bak
*~

# SQLite databases
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.sqlite-shm
*.sqlite-wal

# Logs
*.log

# System files
.DS_Store
Thumbs.db
